RewriteEngine On

# BLOQUEIA A LISTAGEM DE DIRETORIOS VIA NAVEGADOR
Options -Indexes

# BLOQUEIA A VISUALIZACAO DE ARQUIVOS INDESEJADOS VIA NAVEGADOR
<Files ~ "\.(env|ENV|ini|INI|sql|SQL|txt|TXT|md|MD)$">
    Order allow,deny
    Deny from all
</Files>

# BLOQUEIA A VISUALIZACAO DE DIRETORIO/ARQUIVOS GIT
RewriteRule ^(.*/)?\.git+ - [R=404,L]

Order Deny,Allow
Deny from all

<Files "git-hook.php">
    Allow from all
</Files>

# IP ANTERNOR
Allow from 201.28.197.75

# LOCALHOST
Allow from 127.0.0.1
Allow from ::1
Allow from localhost